name: ci

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#permissions
permissions:
  contents: read

on:
  workflow_dispatch:
  schedule:
    - cron: '0 10 * * *'
  push:
    branches:
      - 'master'
      - 'releases/v*'
  pull_request:
    branches:
      - 'master'
      - 'releases/v*'

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Build image
        uses: docker/bake-action@v5
        with:
          targets: image-local
      -
        name: Choco help
        uses: ./
        with:
          args: -h
          image: chocolatey:local
      -
        name: Choco install InnoSetup
        uses: ./
        with:
          args: install innosetup --no-progress
          image: chocolatey:local

  windows:
    runs-on: windows-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Choco help
        uses: ./
        with:
          args: -h
      -
        name: Choco install InnoSetup
        uses: ./
        with:
          args: install innosetup --no-progress
