name: docker

on:
  pull_request:
    branches: master
  push:
    branches: master
    tags: v*

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      -
        name: Prepare
        id: prepare
        run: |
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            echo ::set-output name=version::${GITHUB_REF#refs/tags/}
          else
            echo ::set-output name=version::snapshot
          fi
      -
        name: Checkout
        uses: actions/checkout@v1
      -
        name: Docker Build
        run: |
          docker build \
            --build-arg "VERSION=${{ steps.prepare.outputs.version }}" \
            --tag "crazymax/ghaction-chocolatey:${{ steps.prepare.outputs.version }}" \
            --tag "crazymax/ghaction-chocolatey:latest" \
            --file Dockerfile .
      -
        name: Docker Login
        if: success() && startsWith(github.ref, 'refs/tags/v')
        env:
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          echo "${DOCKER_PASSWORD}" | docker login --username crazymax --password-stdin
      -
        name: Docker Push
        if: success() && startsWith(github.ref, 'refs/tags/v')
        run: |
          docker push crazymax/ghaction-chocolatey
      -
        name: Clear
        if: always() && startsWith(github.ref, 'refs/tags/v')
        run: |
          rm -f ${HOME}/.docker/config.json
